# .env.example — commit file này lên git
WEATHERAPP_JWT_SECRETKEY=
WEATHERAPP_JWT_ISSUER=
WEATHERAPP_JWT_AUDIENCE=
WEATHERAPP_JWT_EXPIRYINMINUTES=

WEATHERAPP_DB_CONNECTION=

WEATHERAPP_OWM_APIKEY=
WEATHERAPP_OWM_BASEURL=